.slick {
    &-prev, &-next {
        display: none !important;
    }

    &-dots {
        position: absolute;
        right: 47px;
        bottom: 45px;
        display: flex;
        cursor: pointer;
    }
    &-dots li button {
        display: none;
    }
    &-dots li::before {
        content: '';
        display: block;
        background: #FFFFFF;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        opacity: 0.3;
        
    }
    &-dots li:not(:last-child)::before {
        margin-right: 12px;
    }
    &-dots li.slick-active::before {
        opacity: 1;
    }
}

// tovars
.tovars {
    .slick {
        &-next, &-prev {
            position: absolute;
            display: flex !important;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background: #FFFFFF;
            top: 76px;
            z-index: 20;
            line-height: 25px;


            i {
                color: $blue-color;
                font-size: 25px;
            }
        }
        &-prev {
            opacity: 0.4;
            right: 65px;
            transform: rotate(180deg);
            
        }
        &-next {
            opacity: 0.8;
            right: 8px;
        }
        
    }
    

}